.landing-block {
    margin: 0 auto;
    width: 100%;

  .image {
    img {
      width: 1500px;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .landing-links {
    width: 100%;
    text-align: center;

    button {
        background-color: transparent;
        box-sizing: border-box;
        padding: 5px 10px;
        border: none;
        box-shadow: lightgray 3px 3px 7px;
        margin-right: 20px;
        margin-bottom: 40px;
        margin-top: 20px;
        outline: none;
        font-size: 20px;
        font-weight: 500;
        &:active {
          transform: translate(1px, 1px);
          box-shadow: lightgray 0 0 5px;
        }
      }
  }

  .form {
    margin-bottom: 50px;
    text-align: center;

    input[type=email] {
      margin-right: 10px;
    }
  }
}