<div class="face-snap-card" *ngIf=" singleFaceSnap$ | async as faceSnap"
    [ngClass]="{ 'snapped': buttonMessage == 'Oups, déjà liké !' }">
    <p class="like">
        <button (click)="onAddSnap(faceSnap.id)"> {{buttonMessage}}</button>
        <span [ngStyle]="{color : 'rgb(0, ' + faceSnap.snaps + ', 0)'}"> ❤️ {{faceSnap.snaps}} </span>
    </p>
    <h2> {{faceSnap.titre | uppercase }} </h2>
    <p> {{faceSnap.description}}</p>
    <div class = "infos">
        <p class="temps"> Temps : {{faceSnap.temps}} min </p>
        <p class="titre"> Ingrédients : </p>
        <p class="liste"> {{faceSnap.ingredients}}</p>
    </div>

    <p class="titre"> Recette : </p>
    <p class="recette">{{faceSnap.recette}}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.titre">


    <p> Mis en ligne le {{faceSnap.date | date : 'dd/MM/yy, à HH:mm'}}</p>
    <button (click)="retour()"> Retour </button>
</div>